[Unit]
Description=Launch stream notify each 5 minutes
Requires=simple-twitch.service

[Timer]
OnUnitActiveSec=5min
Unit=simple-twitch.service

[Install]
WantedBy=timers.target
